:root {
    --primaryColor: #0000FF;
    --secondaryColor: #EEF7CE;
    --textColor: #000091;
}


body {
    background-color: var(--secondaryColor);
    font-family: "Inconsolata", monospace;
}

h1 {
    color: var(--primaryColor);
    font-size: 120px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
    color: var(--textColor)
}

button {
    display: block;
    margin: 0 auto;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    border-radius: 25px;
    font-size: 23px;
    font-family: "Inconsolata", monospace;
    padding: 20px 40px;

}