:root {
    --primaryColor: #0000FF;
    --secondaryColor: #EEF7CE;
    --textColor: #000091;
}


body {
    background-color: var(--secondaryColor);
    font-family: "Inconsolata", monospace;
    color: var(--textColor)
}

h1 {
    color: var(--primaryColor);
    font-size: 120px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    margin: 70px 35px;
}

h2 {
    color: var(--primaryColor);
    font-size: 70px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    padding: 20px 0;
}

h3 {
    color: var(--primaryColor);
    font-size: 40px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    
}

h4 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

h5 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px 0 0 50px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    border-radius: 25px;
    font-size: 23px;
    font-family: "Inconsolata", monospace;
    padding: 20px 40px;
    margin-bottom: 80px;
}

button:hover {
    background: #000091;
}

.homePageImage {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
}